body {
 background-color: darkblue;
 font-family: 'Trebuchet MS';
 text-align: center;
 color: white;
 margin: 0;
}
img {
 border-radius: 50px;
 width: 100px;
}
h2 {
 font-size: 18px;
}
button {
 background-color: white;
 border: none;
 font-size: 16px;
 border-radius: 10px;
 padding: 15px 32px;
 text-align: center;
 display: inline-block;
 margin: 4px 2px;
 color: slateblue;
 cursor: pointer;
 width: 200px;
}
